body{
    margin: 0;
    padding: 0;
    background-color: #97ebf3;
    text-align: center;
}

button{
    padding: 25px;
    margin: 25px;
    flex-wrap: wrap;
    width: 300px;
    height: 70px;
    text-align: center;
    border-radius: 20px;
}